.work_atl {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/contact/ATL/SkateGIF-v3.gif);
    background-size: cover;
}

.work_atl_container {
    width: 74.68354%;
    margin: 0 auto;
    min-height: 80vh;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.work_atl_top {
    display: flex;
    left: 0;
    position: absolute;
    top: 46px;
    width: 36.70886%;
}

.office_line {
    border-top: 2px solid #fff;
    display: inline-block;
    height: 1em;
    margin: 0 1em;
    width: 31.03448%;
    transform: translateY(0.6em);
}

.work_atl_bottom { width: 100%; }

.work_atl_bottom h1 {
    margin-bottom: 4px;
}

.work_atl_bottom div { display: flex;}

.work_atl_bottom p { margin-right: 50px; color: #fff;}


.the_office { width: 100vw; }

.the_office_container {
    width: 74.68354%;
    padding: 140px 0;
    margin: 0 auto;
    display: flex;
}

.the_office_left {
    width: 32.20339%;
}

.the_office_left hr {
    width: 47.36842%;
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.the_office_right {
    margin-left: 1.69492%;
    width: 66.10169%;
    padding-bottom: 25px;
}

.dan_hou {
    color: #000;
    font-weight: 900;
    text-decoration: underline
}

.atl_image { width: 100%; box-sizing: border-box;}

.atl_image_container {
    width: 87.34177%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* image */
.image_rob { 
    width: 100%;
    margin-bottom: 1.26582vw;
    display: block;
    height: auto;
}

.rob { }

.rob img { width: 100%;}

.atl_image_02 { width: 100%; display: flex; flex-wrap: wrap;}

.atl_image_02_container {
    width: 100%;
    margin-bottom: 1.26582vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_dog {
    width: 49.36709%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .dog {
        width: 100%;
        display: flex;
        flex: 1 1 49.36709%;
        justify-content: center;
        overflow: hidden;
    }


.image_two {
    width: 49.36709%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .sket {
        width: 100%;
        margin-bottom: 1.26582vw;
        display: flex;
        flex: 1 1 49.36709%;
        justify-content: center;
    }

    .table { 
        width: 100%;
        display: flex;
        flex: 1 1 49.36709%;
        justify-content: center;
        overflow: hidden;
    }

.atl_image_03 { 

}

.atl_image_03_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 50vw;
    width: 100%;
    min-height: 480px;
    overflow: hidden;
    margin-bottom: 1.26582vw;
}

.microchip {
    width: 36.70886%;
    margin-right: 1.26582%;
    flex: 0.753667;
}

    .microchip img {width: 100%;}

.fish {
    width: 62.02532%;
    flex: 1.464;
}

    .fish img { width: 100%; }

.note_book {
    width: 49.36709%;
    margin-bottom: 1.26582vw;
}

    .note_book_wrap {
        width: 100%;
    }

.coffee {
    width: 49.36709%;
    margin-bottom: 1.26582vw;
}

    .coffee_wrap {
         width: 100%;
    }

