/* 웹 폰트 링크 */

@font-face {
    font-family: Galaxie-Book;
    src: url(../font/GalaxieCopernicus-Book.woff)
}

@font-face {
    font-family: HugeGothic-Bold;
    src: url(../font/HugeGothic-Bold.woff)
}

h1 {
    font-family: HugeGothic-Bold;
    font-size: 300px;
    color: black;
    font-weight: 600;
}

h2 {
    font-family: HugeGothic-Bold;
    font-size: 80px;
    font-weight: 600px;
    line-height: 100px;
}

p {
    font-family: Galaxia-Book;
    font-size: 24px;
    color: black;
    font-weight: 200;
}


/* 컬러 */
    .white {
        color: white;
    }

    .black {
        color: black;
    }


/* 메뉴 */
header {
    width: 100vw;
    height: 440px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #f4f4f4;
    visibility: hidden;
}

nav {
    width: 100vw;
    height: 440px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#logo {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #ea178c;
    background-color: white;
    position: fixed;
    top: 50px;
    left: calc(50vw - 37px);
    z-index: 300;
}


.menu_wrap {
    width: 1050px;
    height: 90px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.menu_wrap li {
    width: 190px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_wrap li a {
    font-family: HugeGothic-Bold;
    font-size: 36px;
    color: black;
    line-height: 36px;
}

.menu_wrap li a:hover {
    color: #ea178c;
    cursor: pointer;
}

.menu_wrap li p {
    font-family: Galaxie-Book;
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: -1px;
}

.menu_wrap div {
    border-bottom: 1px solid black;
    width: 48px;
    height: 34px;
}

.gnb_aside {
    width: 320px;
    height: 22px;
    position: absolute;
    top: 350px;
    left: calc(50vw - 160px);
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.gnb_aside p {
    font-family: Galaxie-Book;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: -1px;
}

.gnb_aside a {
    font-family: HugeGothic-Bold;
    font-size: 16px;
    line-height: 21px;
    margin-left: 6px;
    padding-top: 1px;
}

.gnb_aside span {
    color: #ea178c;
}

.gnb_aside a:hover {
    color: #ea178c;
    cursor: pointer;
}


/* footer */ 
.bg_color_black {
    background-color: black;
}


/* footer 시작 */

.home_footer {
    width: 100vw;
    height: 240px;
    padding: 70px 0 80px;
    box-sizing: border-box;
}



/* div 안에 선택 */
.home_footer>div {
    width: 100vw;
    height: 90px;
    padding: 0 calc(12.5vw + 15px);
    display: flex;
    justify-content: space-between;
    min-width: 980px;
}

.footer_content_left {
    display: flex;
    align-items: center;
}

.footer_content_left>div {
    font-family: HugeGothic-Bold;
    font-size: 36px;
    line-height: 36px;
    border-right: 1px solid #888888;
    padding-right: 32px;
    margin-right: 32px;
    height: 42px;
    letter-spacing: 2px;
}

.footer_content_left>p {
    font-family: HugeGothic-Bold;
    font-size: 18px;
    line-height: 36px;
}

.footer_content_right {
    display: flex;
    flex-direction: column;
}

.footer_content_right>div {
    font-family: HugeGothic-Bold;
    font-size: 16px;
    line-height: 14px;
    color: #C8C8C8;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer_content_right a {
    margin-right: 15px;
}

.footer_content_right a:last-child {
    margin-right: 0;
}

.footer_aside {
    font-family: Galaxie-Book;
    color: #C8C8C8;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}