/* 웹 폰트 링크 */

@font-face {
    font-family: Galaxie-Book;
    src: url(../font/GalaxieCopernicus-Book.woff)
}

@font-face {
    font-family: HugeGothic-Bold;
    src: url(../font/HugeGothic-Bold.woff)
}
/*

1 HugeGothic-Bold; 170px 170px no > h1

2 HugeGothic-Bold; 80px  84px -2px > h2
3 HugeGothic-Bold; 56px  70px -4px > h3
3 Galaxie-Book; 56px 70px -4px > .h3_serif

4 HugeGothic-Bold; 44px 44px no > .h_h4
5 HugeGothic-Bold; 24px  30px no > .h_h5
6 HugeGothic-Bold; 22px  26px 16px no   > .h_h6

8 Galaxie-Book;    18px 34px -0.27504px > p
9 Galaxie-Book;    16px no -1px > .p_small

10. HugeGothic-Bold; 14px 20px no > p>special
11. Galaxie-Book; 12px 22.6667px -0.27504px > .p_small_2

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: HugeGothic-Bold;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p {
    font-family: Galaxie-Book;
    font-weight: 400;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.h1_hello {
    font-family: HugeGothic-Bold;
    font-size: 390px;
    font-weight: 600;
    line-height: 290px;
    color: black;
}

h1 {
     font-size: 170px; 
     line-height: 170px;
}
    
h2 {
    font-size: 80px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: -2px;
}

h3 {
    font-size: 56px;
    line-height: 70px;
    letter-spacing: -4px;
}

h4 {
    font-size: 44px;
    line-height: 44px;
}

h5 {
    font-size: 24px;
    line-height: 30px;
}

h6 {
    font-size: 22px;
    line-height: 26px;
}

p { 
    font-size: 18px;
    line-height: 34px; 
    letter-spacing: -0.27504;
}

.h3_serif {
    font-family: Galaxie-Book;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: -4px;
}

.h4_sans { 
    font-size: 44px; 
    line-height: 44px;
}
.h5_sans {
    font-size: 24px;
    line-height: 30px;
}
.h6_sans {
    font-size: 22px;
    line-height: 26px;
}

.p_small_1 { 
    font-size: 16; 
    letter-spacing: -1px;
}
.p_small_2 {
    font-size: 16;
    line-height: 22.6667px;
    letter-spacing: -0.27504px;
}

.p_small_sans {
     font-size: 14px;
     line-height: 20px;
    }

/*
h5 {
    font-family: HugeGothic-Bold;
    font-size: 22px;
    font-weight: 400;
    line-height: 15.9999px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.h2_work_아이콘 {
    font-family: HugeGothic-Bold;
    font-size: 44px;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: -2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.div_work_섹션제목 {
    font-family: HugeGothic-Bold;
    font-size: 22px;
    font-weight: 400;
    line-height: 15.9999px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.div_work {
    color: white;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 70px;
    font-family: Galaxie-Book;
}

.h3_work_magenta {
    font-family: HugeGothic-Bold;
    font-size: 80px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.h1_about {
    font-family: HugeGothic-Bold;
    font-size: 170px;
    font-weight: 400;
    line-height: 169px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.h2_about_탑메뉴 {
    font-family: HugeGothic-Bold;
    font-size: 24px;
    line-height: 15.9999px;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.h2_about {
    color: white;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 70px;
    font-family: Galaxie-Book;
}

.h2_aubot_아이콘 {
    font-family: HugeGothic-Bold;
    font-size: 44px;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.p_about {
    font-family: Galaxia-Book;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: -0.27504px;
    color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
*/
.h6_footer메뉴 {
    font-family: HugeGothic-Bold;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.27504px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.p_footer_caption {
    font-family: Galaxia-Book;
    font-size: 12px;
    line-height: 22.6667px;
    font-weight: 400;
    letter-spacing: -0.27504px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* 컬러 */
    .white {
        color: white;
    }

    .black {
        color: black;
    }


/* 메뉴 */
header {
    width: 100vw;
    height: 440px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #f4f4f4;
    visibility: hidden;
}

nav {
    width: 100vw;
    height: 440px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#logo {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #ea178c;
    background-color: white;
    position: fixed;
    top: 50px;
    left: calc(50vw - 37px);
    z-index: 300;
}


.menu_wrap {
    width: 1050px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.menu_wrap li {
    width: 190px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_wrap li a {
    font-family: HugeGothic-Bold;
    font-size: 36px;
    color: black;
    line-height: 36px;
}

.menu_wrap li a:hover {
    color: #ea178c;
    cursor: pointer;
}

.menu_wrap li p {
    font-family: Galaxie-Book;
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: -1px;
}

.menu_wrap div {
    border-bottom: 1px solid black;
    width: 48px;
    height: 34px;
}

.gnb_aside {
    width: 320px;
    height: 22px;
    position: absolute;
    top: 350px;
    left: calc(50vw - 160px);
    display: flex;
    justify-content: center;
}

.gnb_aside p {
    font-family: Galaxie-Book;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: -1px;
}

.gnb_aside a {
    font-family: HugeGothic-Bold;
    font-size: 16px;
    line-height: 21px;
    margin-left: 6px;
    padding-top: 1px;
}

.gnb_aside span {
    color: #ea178c;
}

.gnb_aside a:hover {
    color: #ea178c;
    cursor: pointer;
}


/* footer */ 
.bg_color_black {
    background-color: black;
}


/* footer 시작 */

.home_footer {
    width: 100vw;
    height: 240px;
    padding: 70px 0 80px;
    box-sizing: border-box;
}



/* div 안에 선택 */
.home_footer>div {
    width: 100vw;
    height: 90px;
    padding: 0 calc(12.5vw + 15px);
    display: flex;
    justify-content: space-between;
    min-width: 980px;
}

.footer_content_left {
    display: flex;
    align-items: center;
}

.footer_content_left>div {
    font-family: HugeGothic-Bold;
    font-size: 36px;
    line-height: 36px;
    border-right: 1px solid #888888;
    padding-right: 32px;
    margin-right: 32px;
    height: 42px;
    letter-spacing: 2px;
}

.footer_content_left>p {
    font-family: HugeGothic-Bold;
    font-size: 18px;
    line-height: 36px;
}

.footer_content_right {
    display: flex;
    flex-direction: column;
}

.footer_content_right>div {
    font-family: HugeGothic-Bold;
    font-size: 16px;
    line-height: 14px;
    color: #C8C8C8;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer_content_right a {
    margin-right: 15px;
}

.footer_content_right a:last-child {
    margin-right: 0;
}

.footer_aside {
    font-family: Galaxie-Book;
    color: #C8C8C8;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}